.DS_Store
*/node_modules
**/**/node_modules
maze-java-app/maze-be-1/logs/
**/cdk.out.tmp/
redis-cluster-1/venv/
**/**/venv/
redis-cluster-1/app/mysite/mysite/__pycache__
**/**/__pycache__
.DS_Store
*/cdk.context.json